{{#>template}}
  <div class="scene">
    <div class="scene-image">
      {{#if imageUrl}}<img class="scene-image-img" {{defaultImgPlaceholder}} src={{imageUrl}}>{{/if}}
      <p class="scene-image-text {{sceneTextClasses}}">{{description}}</p>
    </div>
    <div class="achievements">
      {{#each achievements}}
        <div class="achievement">
          <img class="achievement-img" {{defaultImgPlaceholder}} src={{lookup this 1}}>
          <div>
            <h3 class="achievement-title">Достижение получено</h3>
            <p class="achievement-description">{{lookup this 0}}</p>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="actions">
      {{#each actions}}
        <a href="/scene/{{lookup this 0}}?root={{../root}}" class="button button-action">{{lookup this 1}}</a>
      {{/each}}
    </div>
  </div>
{{/template}}
